PORT=3000
ENABLE_YANDEX=true
YANDEX_MESSENGER_KEY=
YANDEX_WEBHOOK_SECRET=
YANDEX_API_BASE_URL=https://botapi.messenger.yandex.net
YANDEX_AUTH_HEADER=Authorization
YANDEX_AUTH_SCHEME=OAuth
BRANCH_API_BASE_URL=https://yobicloud.ru
BRANCH_API_TOKEN=
